:root {
    --bs-body-bg: var(--bs-gray-100);
    /*
    --font-family-body: Arial, Helvetica, sans-serif;
    --font-family-headings: Palatino Linotype, serif;
    --font-size-caption: 12px;
    --font-size-body: 16px;
    --font-size-headings: 26px;
    --line-height-heading: 1.25;
    --line-height-reset: 1;
    --line-height-text: 1.5
    */
}
